* {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    margin-right: auto;
    padding-left: 2%;
}

a {
    text-decoration: none;
    color: black;
    padding-right: 2%;
}




body {
    margin: 0;
}

main {
    padding-left: 2%;
    padding-right: 2%;
}

.banner {
    background-image: url("../Assets/corsa.jpg");
    display: block;
    background-size: cover;
    width: 100vw;
    height: 40vh;
    background-position: center;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

p {
    font-size: 1.3em;
}

.section {
    width: 70%;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 2%;
    padding: 2%;
    border-radius: 2%;
    box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.57);
}

@media (hover: hover) {
    .card:hover {
        transform: scale(1.025, 1.025);
        transition: transform 150ms ease-in-out;
    }
}

.card img {
    width: 100%;
}

.contactcont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    justify-items: center;
}

footer .left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

footer .right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

footer .bottom {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 0.8em;
}